@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Raleway&display=swap");
body {
  background-color: #f7f7f7;
}

.title {
  font-size: 4rem;
  padding: 10px;
  font-family: "Cookie", cursive;
}

.form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form h3 {
  text-align: center;
  width: 100%;
}

.form input {
  border: none;
  border-bottom: 2px solid gainsboro;
  padding: 10px;
  margin: 5px;
  width: 100%;
}

input[type="file"] {
  /* display: none; */
  border: none;
  margin-left: 0px;
}

.form-input:focus {
  outline: none;
  border-bottom: 3px solid grey;
}

.form button {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
